<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <title>Don't lie</title>
</head>

<body>
    <h1 class="frontquestion" font-size: 300%;>Are you sure that you're not thirsty?</h1>
    <body>
        <ul>
            <li style="display:inline-block;">
                <a href="{{ url_for('mind') }}" class="answer" style="text-align:center; text-decoration:none; color:#00FF00"><h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspYes&nbsp&nbsp&nbsp&nbsp</h1></a>
            </li>
            <li style="display:inline-block;">
                <a href="{{ url_for('drink_type') }}" class="answer" style="text-align:center; text-decoration:none; color:#FF1919"><h1>No</h1></a>
            </li>
        </ul>
    <img src="static/drink.gif" class="gif"/>
</body>

    

</html>
