<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drink type</title>
    <link href="../static/main.css" rel="stylesheet">
</head>

<div class="container">
  <h2 class="question"> 
      Where would you like to drink?
    </h2>  
    <form action="{{url_for('result')}}" method="POST">
          <input type="radio" name= "city" id="1" value="Aarhus" >
          <label for="1" class="buttontext">Aarhus</label> <br> 
          <input type="radio" name= "city" id="2"  value="Odense">
          <label for="2" class="buttontext">Odense</label> <br> 
          <input type="radio" name= "city" id="3"   value="Copenhagen">
          <label for="3" class="buttontext">Copenhagen</label> 
  <br> 

      
    <h2 class="question"> 
      What would you like to drink?
    </h2>  
        <input type="radio" name= "drink" id="4" value="beer">
    <label for="4" class="buttontext" >Beer</label> <br> 
      <input type="radio" name= "drink" id="5" value="wine">
    <label for="5" class="buttontext" >Wine</label> <br> 
      <input type="radio" name= "drink" id="6" value="cocktail">
    <label for="6" class="buttontext">Cocktail</label> 
      <h2 class="question"> 
      Do you need to book a table?
    </h2 >  
      
        <input type="radio" name= "table" id="7" value="Yes">
    <label for="7" class="buttontext">Yes</label> <br> 
      <input type="radio" name= "table" id="8"   value="No">
    <label for="8" class="buttontext">No</label> 
    <br> <br> 
    
    <button type="submit" class="button submit buttontext">Submit</button>
    </form>
</div>
</body>
</html>
<a href="{{ url_for('front_page') }}" style="text-decoration: none;" >
  <span style="font-size: 30px;" class="button submit buttontext">&larr;</span>
</a>
  

</div>

</body>
</html>