<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sip'n'Save</title>
</head>
<body>
    <h1>Feeling thirsty?</h1>
    <p>
        Feeling thirsty? Let us help you quench your thirst without draining your wallet!
        Welcome to <em>Sip'n'Save</em>, your ultimate guide to affordable drinks in Copenhagen.
        Whether you're a local looking for a budget-friendly night out or a traveler seeking economical sips,
        we've got you covered. Our extensive database compiles the prices of
        drinks, beers, wines, and shots across the city, allowing you to find the cheapest options in any given area.
        Say goodbye to overpriced libations and join us in discovering the best deals for your taste buds.
        Cheers to affordable indulgence!
    </p>
            <img src="/static/logo.png">
</body>
</html>
