<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Don't lie</title>
</head>
<style>
     body {
        background-color: black;
    }

    .question {
        font-size: 600%;
        color: #FFFFFF;
        text-align: center;
    }

    .answer {
        font-size: 300%;
        font-family:"Lucida Console", "Courier New", monospace;
        display: block;
        margin-left: 100;
        margin-right: auto;
        width: 7%;
    }

    .gif {
        font-family:"Lucida Console", "Courier New", monospace;
        margin-top: 80px; 
        max-width: 300%;
    }

</style>
<body>
    <h1 class="question">That's too bad buddy</h1>
    <img src="static/fru.gif" class="gif" style="text-align:center;"/>
</body>

    

</html>
